@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Oswald:wght@200;300;400;500&family=Roboto:wght@700;900&display=swap");

@import "reset.css";
@import "status-bar.css";

html {
  background-color: #f7f7f7;
}

body {
  background-color: white;
  margin: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
  font-family: "Nunito", sans-serif;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-avatar {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  box-shadow: 0px 10px 20px 2px #3a4358;
  margin-bottom: 40px;
}
.main-info__title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}
.main-info__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 35px;
}
.main-action button {
  border: none;
  height: 50px;
  width: 130px;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.main-action__shuffle {
  background-color: black;
  color: #f7f7f7d8;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
}
.main-action__like {
  color: #f7f7f7ad;
}
.fa-heart {
  color: black;
  margin-right: 6px;
}
.main-action__like > span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 600;
}

/* Playlist */

.playlist {
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.move-to-ff:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50px;
}
.playlist-info {
  display: flex;
}
.playlist-avatar {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-right: 20px;
}
.playlist-text__title {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
}
.playlist-text__subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 7px;
}
.fa-ellipsis-vertical {
  color: rgba(0, 0, 0, 0.5);
}

/* footer */

.player {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 10px 20px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.922);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 10px;
}
.player-info {
  padding: 0px 50px;
}
.player-info h4 {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.player-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
}
.player-icons {
  padding: 0px 20px;
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  text-align: center;
}
.fa-pause {
}
